@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #0d6efd !important;
}

.image1,
.image2,
.image3 {
  height: 150px;
}

.Showcase {
  min-height: 60vh !important;
}

.image1 {
  background: url("images/Web-Development.jpg") no-repeat;
  background-size: cover;
}

.image2 {
  background: url("images/mobile-app-banner.jpg") no-repeat;
  background-size: cover;
}

.image3 {
  background: url("images/graphic-design.jpg") no-repeat;
  background-size: cover;
}
